{% extends "App/padre.html" %}

{% load static %}

{% block contenidoquecambiar %}
 <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
 <!-- Enlace a Bootstrap CSS (opcional) -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>Bienvenido a Mi Proyecto Web</h1>
        <p>Este es un proyecto web que utiliza Django para gestionar compras de productos.</p>
        <p>Aquí puedes crear nuevas compras, ver la lista de compras existentes y buscar información en la base de datos.</p>
    </div>

</body>

{% endblock %}

